<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Management</title>

  <!--- CSS -->
  <link rel="stylesheet" href="./css/materialize.min.css">
  <link rel="stylesheet" href="./css/icon.css">
</head>
<body>
   
  <div class="container">
    <div class="row">
      <br><br>
        <div class="col s12 m12">
          <div class="card center-align hoverable waves-light lighten-1">
            <a href="/">
              <input class="btn right" type="button" value="Home">
            </a>
            <div class="card-content black-text">
              <span class="card-title">
                <h5 class="center">
                  <i class="material-icons">error</i> 
                  Somthing Wrong
                </h5>
              </span>
              <br>
              <img src="./img/error.gif" alt="error">
            </div>
          </div>
        </div>
      </form>
    </div>

  <!--- JS -->
  <script src="./js/jquery.min.js"></script>
  <script src="./js/materialize.min.js"></script>
</body>
</html>