<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='shortcut icon' type='image/x-icon' href='./img/favicon.ico' />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Management</title>

  <!--- CSS -->
  <!-- Add icon library -->
  <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/materialize.min.css">
  <link rel="stylesheet" href="./css/icon.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div class="customContainer">
    <div class="row">
      <form action="/api/photo/upload" enctype="multipart/form-data" method="post">
        <div class="col s12 m6">
          <div class="card center-align hoverable waves-light lighten-1">
            <div class="card-content black-text">
              <span class="card-title">
                <h5 class="center">
                  <i class="material-icons">cloud_upload</i> 
                  Upload Photos
                </h5>
              </span>
              <br>
              <input type="file" name="upload" multiple="multiple">
              <button class="btn waves-effect waves-light loadingIcon" type="submit" id="uploadBtn">
                <i id="btnIcon" class="fa fa-spinner fa-spin"></i> Upload
              </button>
              <!--<input class="btn" type="submit" value="Upload" id="uploadBtn">-->
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <nav class="nav-extended">
            <div class="nav-content">
              <ul class="tabs tabs-transparent green lighten-1">
                <li class="tab"><a class="active" href="/">Photos</a></li>
                <li class="tab"><a href="#test2">Videos</a></li>
                <li class="tab"><a href="#test3">Audio</a></li>
                <li class="tab"><a href="#test4">Other Files</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </form>
    </div>
    <div class="row">
      <div id="photosID"></div>
    </div>
  </div>

  <!--- JS -->
  <script src="./js/jquery.min.js"></script>
  <script src="./js/materialize.min.js"></script>
  <script src="./js/clientControl.js"></script>
</body>
</html>