<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IP-TV</title>

  <!--- CSS --> 
  <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  >
  <link 
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons" 
  >
  <link rel="stylesheet" href="./../css/style.css">
</head>
<body>
  
  <div class="row">
    <div class="col s12 m10 offset-l1">
      <div class="card center-align hoverable waves-light lighten-1">
        <div class="card-content black-text">
          <span class="card-title">
            <h5 class="center">
              API End Points
            </h5>
          </span>
          <table>
            <tr>
              <th>API</th>
              <th>End Point</th>
            </tr>
            <tbody>
              <tr>
                <td>Base URL</td>
                <td>https://mini-js.herokuapp.com</td>
              </tr>
              <tr>
                <td>Get all channels</td>
                <td>/mini/api/iptv</td>
              </tr>
              <tr>
                <td>Get channels category wise</td>
                <td>/mini/api/iptv?category=Movies</td>
              </tr>
              <tr>
                <td>Get channels category wise with pageniation</td>
                <td>/mini/api/iptv?category=Movies&page=2</td>
              </tr>
              <tr>
                <td>Get channels category wise with pageniation & limit</td>
                <td>/mini/api/iptv?category=Movies&page=2&limit=10</td>
              </tr>
              <tr>
                <td>Get channels country wise</td>
                <td>/mini/api/iptv?country=India</td>
              </tr>
              <tr>
                <td>Available category</td>
                <td>
                    1. Comedy 2. Documentary 3. Entertainment 
                    4. Fashion 5. History 6. Kids 7. Movies 
                    8. Music 9. News 10. Sport
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--- JS -->
  <script 
    src="https://code.jquery.com/jquery-3.5.1.min.js">
  </script>
  <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
  </script>
</body>
</html>