.customContainer {
  margin: 2rem;
}

.navClass {
  background-color: rgb(33, 138, 174)
}

.logoDesign {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#canvas {
  left: 0;
  top: 0;
  width: 100%;
}